.header {
  display: flex;
  position: sticky;
  top: 0;
  height: 60px;
  z-index: 100;
  justify-content: space-evenly;
  border-bottom: 0.5px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: white;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  background-color: #ebecee;
  color: gray;
}

.header__searchInput {
  outline: 0;
  border: none;
  background: none;
}

.header__logo {
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}

.header__right {
  display: flex;
}
